/*? Import Fonts ?*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*? Configuração de Váriaveis ?*/
:root {
    /*? ** Colors ** ?*/
    /*! Main !*/
    --color-blue-one: #233dc7;
    --color-blue-two: #1976f7;
    --color-green: #138c40;
    --color-grey: #4a5269;
    --color-black-one: #0c0f17;
    --color-black-two: #151b28;
    --color-white-one: #f2f2fc;
    --color-white-two: #fdf9ff;
    
    /*! Color Opacity !*/
    --color-grey-p-2: rgba(74, 82, 105, .2);

    /*! Alert !*/
    --alert-01-primary: #24B6F7;
    --alert-02-attention: #faba39;
    --alert-03-error: #EE4444;
    --alert-04-success: #00CC83;

    /*? ** Font ** ?*/
    font-size: 100%;

    /*! Size Fonts !*/
    --font-emphasis: 1.75rem;

    --font-title-01: 1.5rem;
    --font-title-02: 1.125rem;

    --font-text-normal: 1rem;

    --font-subject-01: 0.875rem;
    --font-subject-02: 0.75rem;
}

/*? Marcação ?*/
.border-red {
    border: 1px solid red;
}

/*! body !*/
body,
html {
    width: 100%;
    height: 100%;

    font-size: 1rem;
    color: var(--alert-03-error);

    -webkit-tap-highlight-color: transparent;

    overflow-x: hidden;

    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: var(--color-black-one);
    /* background-image: url('../images/background-main.png'); */
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: top;
}
/* A background for the app. */
#background-app{
    width: 100vw;
    height: 100vh;

    max-width: 1400px;

    position: fixed;
    top: 0;
    z-index: 0;
}
#background-app .bloco{
    width: 300px;
    height: 300px;

    border-radius: 50%;

    position: absolute;

    background-color: transparent;
    box-shadow: 0 0 85px 35px var(--color-blue-one),
                inset 0 0 400px 25px var(--color-blue-one);
}

#background-app .bloco-01{
    top: -250px;
    left: 115px;
}
#background-app .bloco-02{
    right: -250px;
    bottom: 135px;
}
#background-app .bloco-03{
    left: 240px;
    bottom: -250px;
}

/*! Informations !*/
/*? Colors ?*/
.primary-color{
    color: var(--alert-01-primary) !important;
}
.success-color{
    color: var(--alert-04-success) !important;
}
.attention-color{
    color: var(--alert-02-attention) !important;
}
.error-color{
    color: var(--alert-03-error) !important;
}
/*? Background Colors ?*/
.primary-background{
    background-color: var(--alert-01-primary) !important;
}
.success-background{
    background-color: var(--alert-04-success) !important;
}
.attention-background{
    background-color: var(--alert-02-attention) !important;
}
.error-background{
    background-color: var(--alert-03-error) !important;
}

/*! Scroll !*/
::-webkit-scrollbar {
    width: 8px;

    background-color: transparent;

}

::-webkit-scrollbar-thumb {
    width: 100%;

    background-color: var(--color-blue-one);

    border-radius: 8px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-blue-one) transparent;
}

/*! Transição !*/
.transition {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

/*! Cursores !*/
.cursor-pointer {
    cursor: pointer;
}
/*! Eventos !*/
.pointer-events-none {
    pointer-events: none;
}

/*! Opacity !*/
.opacity-0 {
    opacity: 0;
}

/*! W-H-100 !*/
.wh100{
    width: 100%;
    height: 100%;
}

/*! Box-Shadow !*/
.box-shadow-01{
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .5); 
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .5);
}

/*! Scroll Div !*/
.scrollbar-main{ /* Na Vertical Principal */
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--color-blue-one) transparent;
}
.scrollbar-main::-webkit-scrollbar{
    width: 5px;
}

.scrollbar-y{ /* Na Vertical Secundario */
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--color-blue-one) transparent;
}
.scrollbar-y::-webkit-scrollbar{
    width: 3px;
}

/*! hidden !*/
.hidden{
    display: none !important;
}

/*! Container de loading Inicial !*/
.container-load{
    width: 100vw;
    height: 100vh;

    position: fixed;    
    top: 0;
    left: 0;
    z-index: 1999;

    transform: scale(1);
    -webkit-transform: scale(1);

    background-color: var(--color-black-two);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-load.active{
    transform: scale(0);
    -webkit-transform: scale(0);
}
.container-load img{
    max-width: 50px;

    animation: levitate 1.5s infinite;
}
.container-load h3{
    font-size: 3rem;
    font-weight: 700;

    background: linear-gradient(0deg, var(--color-blue-one) 5%, var(--color-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container-load h3:after{
    content: '';

    display: inline-block;

    background: linear-gradient(10deg, var(--color-blue-one) 50%, var(--color-green));

    margin-left: 2px;
    
    height: 2.5rem;
    width: 4px;

    animation: cursor .8s infinite;
}
 
/* The typewriter cursor effect */
@keyframes cursor {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes levitate {
    0%{ 
        transform: translateY(-10px); 
        -webkit-transform: translateY(-10px); 
    }
    50%{ 
        transform: translateY(10px); 
        -webkit-transform: translateY(10px); 
    }
    100%{ 
        transform: translateY(-10px); 
        -webkit-transform: translateY(-10px); 
    }
}

/*! Botões !*/
.btn-01{
    font-size: var(--font-text-normal);
    font-weight: 500;

    padding: 12px 35px;

    border-radius: 40px;
}
.btn-02{
    font-size: var(--font-subject-01);
    font-weight: 400;

    padding: 5px 20px;

    border-radius: 20px;
}
.btn-01,
.btn-02{
    color: var(--color-white-one);

    border: none;

    display: inline-block;

    white-space: nowrap;

    background: var(--color-blue-one);
}
.btn-01:hover,
.btn-02:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
}