/*! Config form !*/
.fw-100{ width: 100% !important; }
.fw-50{ width: 47% !important; }
.fw-33{ width: 30% !important; }

/*? Formulário ?*/
[data-form]{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-box-single-inputs{
    width: 100%;

    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box-form-uniq{
    width: 100%;
    min-height: 105px;

    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    padding: 0 15px;


}
/*** Titulo dos inputs ***/
.box-form-uniq label{
    font-size: var(--font-text-normal);
    font-weight: 600;
    color: var(--color-grey);

    margin-bottom: 5px;

    cursor: text;

}
.box-form-uniq label span{
    color: var(--alert-03-error);
    font-weight: 500;
}

/*** Inputs Gerais ***/
.box-form-uniq input,
.box-form-uniq textarea,
.box-form-uniq select{
    font-size: var(--font-title-02);
    color: var(--color-white-two);
    font-weight: 200;

    background-color: var(--color-black-one);

    border: 1px solid var(--color-grey-p-2);
    
    padding: 5px 15px;

    border-radius: 7px;
}
.box-form-uniq input:focus,
.box-form-uniq select:focus,
.box-form-uniq textarea:focus{
    border-color: var(--alert-01-primary);
}
.box-form-uniq input,
.box-form-uniq select{
    height: 45px;
}
.box-form-uniq input::placeholder,
.box-form-uniq textarea::placeholder{
    color: var(--color-grey);
    font-size: var(--font-subject-01);
    font-weight: 300;

    opacity: .7;

    transition: all .2s ease;
}
.box-form-uniq input:focus::placeholder,
.box-form-uniq textarea:focus::placeholder{
    opacity: 0;
    transition: all .2s ease;
}

/* TextArea */
.box-form-uniq textarea{
    height: 150px;

    resize: vertical;
}

/* Select */
/* .box-form-uniq select option:nth-child(1){
    font-size: .9rem;
} */

/*? Campo Aviso ?*/
.box-form-uniq .icon-input-atention{
    font-size: var(--font-subject-02);

    width: 100%;
    height: auto;
    
    position: absolute;
    top: 85px;

    padding: 0 15px;


}
.box-form-uniq .icon-input-atention .aviso-input{
    line-height: 14px;
}
.box-form-uniq .icon-input-atention i{
    position: absolute;
    right: 0;
    top: -48px;

    font-size: var(--font-title-02);
}
/*** Mostrando campo de aviso ***/
.box-form-uniq.disabled .icon-input-atention,
.box-form-uniq.error .icon-input-atention{
    display: block !important;
}

/*! Campo Bloqueado !*/
.box-form-uniq.disabled input,
.box-form-uniq.disabled select,
.box-form-uniq.disabled textarea{
    background-color: var(--color-grey-p-2);

    color: var(--color-grey);
    font-weight: 500;

    cursor: no-drop;
}
.box-form-uniq.disabled .icon-input-atention{
    color: var(--color-grey);
}
.box-form-uniq.disabled .icon-input-atention i::before{
    content: '\f47a';
}
.box-form-uniq.disabled .icon-input-atention .aviso-input::before{
    content: 'Campo Bloqueado';
}


/*! Campo Error !*/
.box-form-uniq.error input,
.box-form-uniq.error select,
.box-form-uniq.error textarea{
    border-color: var(--alert-03-error);
}
.box-form-uniq.error .icon-input-atention{
    color: var(--alert-03-error);
}
.box-form-uniq.error .icon-input-atention i::before{
    content: '\F33A';
}

/*! Campo Success !*/
.box-form-uniq.success input,
.box-form-uniq.success select,
.box-form-uniq.success textarea{
    border-color: var(--alert-04-success);
}

/*? Icon Inputs ?*/
.box-form-uniq .icon-input{
    top: 53%;
    right: 10px;
    transform: translateY(-50%);

    height: 45px;

    font-size: 1.5rem;
    color: var(--color-grey);
}
.box-form-uniq .icon-input:hover{
    transform: translateY(-50%) scale(1.1);
}

.box-form-uniq .calendar i::before{
    content: '\F1F9';
}

.box-form-uniq .show-password i::before{
    content: '\F341';
}
.box-form-uniq .show-password.active i::before{
    content: '\F340';
}


/*** Botão de envio ***/
.btn-submit{
    width: 100%;

    display: flex;
    justify-content: end;
    
    margin-top: 10px;
}
.btn-submit .btn-01{
    border-radius: 8px;
    font-weight: 500;

    box-shadow: 0px 0px 25px -5px var(--color-blue-one);
    -webkit-box-shadow: 0px 0px 25px -5px var(--color-blue-one);
    
}
.btn-submit .btn-01 i{
    font-size: var(--font-title-02);

    margin-right: 5px;
}
.btn-submit .btn-01 i.bi::before {
    transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
}

/*? Botão Bloqueado ?*/
.btn-submit .btn-01:disabled{
    background-color: var(--color-grey-p-2);

    color: var(--color-grey);
    font-weight: 500;

    cursor: no-drop;

    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, .5);
}