@media screen and (max-width: 1315px){ /*** Máximo de 1315px ***/
    /*! Geral !*/
    header.header-main .title-header,
    section.home .home-main{
        width: 60%;
    }
    header.header-main .btns-user-header,
    section.home .home-secondary{
        width: 38%;
    }

    /*! Page Profile !*/
    section.profile .main-section .container-main-section .form-profile-main .form-box-single-inputs{
        padding-right: 3%;
    }

}
@media screen and (max-width: 1140px){ /*** Máximo de 1140px ***/
    /*! Geral !*/
    header.header-main .title-header,
    section.home .home-main{
        width: 55%;
    }
    header.header-main .btns-user-header,
    section.home .home-secondary{
        width: 43%;
    }

    /*! Page Home !*/
    section.home .home-main .wecome-user{
        background-size: 45%;
    }
    section.home .home-main .wecome-user .msg-wecome-user{
        width: 60%;
    }
}
@media screen and (max-width: 1015px){ /*** Máximo de 1015px ***/
    /*! Config !*/
    :root { font-size: 95%; }
    .padd-2p{ padding: 4%; }
    .fw-50 { width: 45%; }

    /*! Geral !*/
    header.header-main .title-header,
    section.home .home-main{
        width: 50%;
    }
    header.header-main .btns-user-header,
    section.home .home-secondary{
        width: 48%;
    }
    section .menu-section{
        width: 35%;
    }
    section .container-main-section{
        width: 65%;
    }

    /*! Page Home !*/
    section.home .home-main .wecome-user{
        min-height: auto;
    }

    /*! Page Settings !*/
    section.settings .section-main-wrapper{
        padding: 4%;
    }
    section.settings .settings-wrapper{
        width: 100%;

        padding: 4%;
    }
    section.settings .settings-wrapper .no-item-wrapper-settings,
    section.settings .settings-wrapper .item-wrapper-settings .nome-item{
        padding: 0;
    }
    section.settings .settings-wrapper .item-wrapper-settings,
    section.settings .settings-wrapper .no-item-wrapper-settings .nome-item{
        padding: 2%;
    }

}
@media screen and (max-width: 900px){ /*** Máximo de 900px ***/
    /*! Config !*/
    .fw-50 { width: 100%; }

    /*! Geral !*/
    main.principal{
        overflow: auto;
        scrollbar-width: 0;
    }
    main.principal::-webkit-scrollbar{
        width: 0;
    }
    section .menu-section{
        width: 45%;
    }
    section .container-main-section{
        width: 55%;
    }

    /*! Formulário !*/
    .box-form-uniq{
        width: 100%;
    }

    /*! Header !*/
    header.header-main .title-header{
        width: 45%;
    }
    header.header-main .btns-user-header{
        width: 53%;
    }

    /*! Page Home !*/
    section.home{
        flex-direction: column-reverse;

        height: auto;

        padding-right: 30px;
    }
    section.home .home-main,
    section.home .home-secondary{
        width: 100%;

        overflow-y: initial;
        
        margin-bottom: 30px;
    }
    section.home .home-secondary{
        height: auto;
        
        border-radius: 20px;
        border: 1px solid #55586470;

        margin-top: 1px;
    }

    section.home .home-main .wecome-user {
        background-size: 40%;
    }

    /*! Pagen Profile !*/
    section.profile .main-section .container-main-section .form-profile-main{
        overflow-x: hidden;

        padding-bottom: 10%;
    }
    section.profile .main-section .container-main-section .form-profile-main .form-box-single-inputs{
        padding-right: 5%;
    }

}
@media screen and (max-width: 835px){ /*** Máximo de 835px ***/
    /*! Config !*/
    :root { font-size: 85%; }

    /*! Geral !*/
    header.header-main,
    main.principal{
        width: calc(100vw - 100px);
    }

    /*! Navegação lateral !*/
    nav.nav-lateral{
        width: 100px;
    }

    /*! Header !*/
    header.header-main .title-header{
        width: 40%;
    }
    header.header-main .btns-user-header{
        width: 58%;
    }
}
@media screen and (max-width: 740px){ /*** Máximo de 740px ***/
    /*! Geral !*/
    header.header-main,
    main.principal{
        width: 100vw;
    }

    /*! Navegação lateral !*/
    nav.nav-lateral{
        width: 100%;
        height: 70px;

        padding: 0 30px;

        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    nav.nav-lateral .logo-empresa{
        display: none;
    }
    /*** Navegação Principal ***/
    nav.nav-lateral .main-nav{
        width:  100%;
        height: 100%;

        border: 1px solid #55586470;
        border-radius: 10px;

        margin: 0;

        flex-direction: row;
    }
    nav.nav-lateral .main-nav .nav-ul{
        display: flex;
        justify-content: center;

        width: 100%;
        height: 100%;

        padding: 0;
    }
    nav.nav-lateral .main-nav .nav-ul li{
        position: relative;

        width: 80px;
        height: 70px;
    }
    nav.nav-lateral .main-nav .nav-ul li a{
        padding: 0;

        text-align: center;
        font-weight: 500;

        flex-direction: column;

        z-index: 3;
    }
    nav.nav-lateral .main-nav .nav-ul li a::before{
        display: none;
    }
    nav.nav-lateral .main-nav .nav-ul li a i{
        position: relative;

        display: block;

        line-height: 75px;
        font-size: 1.5rem;
        text-align: center;

        width: 65px;
        height: 65px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 6px solid transparent;

        border-radius: 50%;

        transition: all .3s ease;
        -webkit-transition: all .3s ease;
    }
    nav.nav-lateral .main-nav .nav-ul li:hover a i,
    nav.nav-lateral .main-nav .nav-ul li.active a i{
        transform: translateY(-35px) scale(1.1);
        -webkit-transform: translateY(-35px) scale(1.1);
        
        color: var(--text-black-100);
        background-color: var(--skin-color);
        border-color: var(--bg-black-900);

        
    }
    nav.nav-lateral .main-nav .nav-ul li a span{
        left: 50%;
        transform: translate(-50%, 25px);
        -webkit-transform: translate(-50%, 25px);

        background-color: transparent;

        color: var(--text-black-700);
        font-family: 400;
        letter-spacing: .05em;

        opacity: 0;
    }
    nav.nav-lateral .main-nav .nav-ul li:hover a span,
    nav.nav-lateral .main-nav .nav-ul li.active a span{
        opacity: 1;

        transform: translate(-50%, 15px);
        -webkit-transform: translate(-50%, 15px);
    }
    nav.nav-lateral .main-nav .nav-ul li a span::before{
        display: none;

    }

    /*** Navegação link para sair do sistema ***/
    nav.nav-lateral .main-nav .btn-exit{
        position: fixed;
        bottom: 80px;
        left: 30px;

        width: 50px;
        height: 50px;
    }
    nav.nav-lateral .main-nav .btn-exit a{
        width: 100%;
        height: 100%;

        border-radius: 50%;
        background-color: var(--skin-color);
        color: var(--text-black-100);

        padding: 0;

        box-shadow: 5px -5px 10px #0f0e19,
                -5px 5px 10px #0f0e19;

        -webkit-box-shadow: 5px -5px 10px #0f0e19,
                            -5px 5px 10px #0f0e19;
                            
        -moz-box-shadow: 5px -5px 10px #0f0e19,
                        -5px 5px 10px #0f0e19;
    }

    /*! Main !*/
    main.principal{
        position: static;
        
        height: 100%;

        padding-top: 105px;
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 640px){ /*** Máximo de 640px ***/
    /*! Config !*/
    :root { font-size: 80%; }


    /*! Geral !*/
    section .main-section{
        flex-direction: column;
    }
    section .menu-section,
    section .container-main-section{
        width: 100%;
    }
    
    .nav-sections ul{
        display: flex;  
    }
    .nav-sections ul li{
        width: 100%;  
    }
    .nav-sections li:not(:last-child){
        margin-bottom: 0;
    }
    .nav-sections li a{
        flex-direction: column;
        align-items: center;

        padding: 0;
        padding-top: 10px;
    }
    .nav-sections li a span{
        padding-top: 2%;
        padding-bottom: 0;
    }
    .nav-sections li a::before{
        height: 5px;
        width: 0;

        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .nav-sections li.active a::before, 
    .nav-sections li:hover a::before{
        width: 100%;
        height: 5px;
    }
    .nav-sections li a::after{
        width: 100%;
        height: 0;
    }
    .nav-sections li.active a::after, 
    .nav-sections li:hover a::after{
        height: 100%;
    }

    /*! Header !*/
    header.header-main .title-header{
        width: 50%;
    }
    header.header-main .btns-user-header{
        width: 48%;

        padding-left: 0;
    }

    header.header-main .btns-user-header .nav-user .menu-user{
        left: -23%;
    }

    /*! Page Profile !*/
    section.profile .main-section .image-profile-user {
        height: 185px;
        width: 60%;
        min-width: 230px;

        margin: 0 auto;
    }
    section.profile .main-section .image-profile-user .photo-box-whapper{
        border-radius: 20px;
    }

}
@media screen and (max-width: 545px){ /*** Máximo de 545px ***/
    /*! Header !*/
    header.header-main .btns-user-header .nav-user .box-user-btn h3{
        display: none;
    }
    header.header-main .btns-user-header .nav-user .box-user-btn .img-user{
        margin-right: 10px;
        
        font-size: 2.4rem;
    }
    header.header-main .btns-user-header .nav-user .menu-user{
        left: -240%;
    }
}
@media screen and (max-width: 490px){ /*** Máximo de 490px ***/
    /*! Header !*/
    header.header-main .title-header{
        width: 64%;
    }
    header.header-main .btns-user-header{
        width: 36%;
    }
}
@media screen and (max-width: 390px){ /*** Máximo de 390px ***/
    /*! Header !*/
    header.header-main .title-header{
        width: 50%;
    }
    header.header-main .btns-user-header{
        width: 50%;
    }

    /*! Page Profile !*/
    section.profile .main-section .container-main-section .form-profile-main .form-box-single-inputs{
        padding-right: 15%;
        padding-bottom: 15%;
    }

    /*! Page Settings !*/
    section.settings .settings-wrapper .form-settings .form-box-single-inputs .box-form-uniq .delete-input{
        right: -55px;
        bottom: 9px;
    }
}