/*? Home Main ?*/
section.home .home-main{
    width: 66%;
}
/*** Saudações ao Usuário  ***/
section.home .home-main .wecome-user{
    min-height: 250px;

    background-image: url('../images/vetor-01.png');
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: 90% bottom;
}
section.home .home-main .wecome-user h2{
    font-size: 2.2rem;
    color: var(--text-black-100);
    font-weight: 600;
}
section.home .home-main .wecome-user .msg-wecome-user{
    font-size: 1rem;
    color: var(--text-black-700);
    font-weight: 400;
    line-height: 20px;
}

section.home .home-main .wecome-user .info-wecome-user .info-wecome-wrapper{
    font-size: 1.5rem;
    color: var(--text-black-100);
}
section.home .home-main .wecome-user .info-wecome-user .info-wecome-wrapper i{
    margin-left: 20px;
}
section.home .home-main .wecome-user .info-wecome-user .title-info-wecome h6{
    font-size: 1rem;
    color: var(--text-black-900);
}
section.home .home-main .wecome-user .info-wecome-user .title-info-wecome p{
    font-size: .85rem;
    color: var(--text-black-700);
    font-weight: 300;
}



/*! Campo importante !*/
/*? Home Secondary ?*/ 
section.home .home-secondary{
    width: 32%;

    padding-top: 15px;
    padding-bottom: 15px;

    border-top-left-radius: 20px;
    border-top: 1px solid #55586470;
    border-left: 1px solid #55586470;
}

/*** Box de Resumo ***/
section.home .home-secondary .box-resumo-wrapper .box-resumo-single:nth-child(1){ background-color: var(--alert-01); }
section.home .home-secondary .box-resumo-wrapper .box-resumo-single:nth-child(2){ background-color: var(--alert-02); }
section.home .home-secondary .box-resumo-wrapper .box-resumo-single:nth-child(3){ background-color: var(--alert-04); }
section.home .home-secondary .box-resumo-wrapper .box-resumo-single:nth-child(4){ background-color: var(--alert-03); }

section.home .home-secondary .box-resumo-wrapper .box-resumo-single:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
section.home .home-secondary .box-resumo-wrapper .box-resumo-single .box-info-icon{
    color: var(--text-black-100);
    font-weight: 500;
}
section.home .home-secondary .box-resumo-wrapper .box-resumo-single .box-info-icon i{
    font-size: 1.4rem;
}
section.home .home-secondary .box-resumo-wrapper .box-resumo-single .box-title-info{
    color: var(--text-black-100);
    font-size: .9rem;
    font-weight: 300;
    line-height: 18px;
}