/*? Box de configuração ?*/
section.settings .section-main-wrapper{
    padding-right: 0;
}
section.settings .settings-wrapper{
    margin-bottom: 20px;
}

/*** Itens ***/
section.settings .settings-wrapper .item-wrapper-settings{
    border-color: transparent;
}
section.settings .settings-wrapper .item-wrapper-settings:hover{
    border-color: #55586470;

    transform: scale(1.03);
    -webkit-transform: scale(1.03);
}
section.settings .settings-wrapper .item-wrapper-settings .nome-item{
    color: var(--text-black-900);
    font-size: .9rem;
}   
section.settings .settings-wrapper .item-wrapper-settings .nome-item i{
    color: var(--skin-color);

    margin-right: 5px;
}
section.settings .settings-wrapper .item-wrapper-settings .btn-delete{
    color: var(--alert-03);
    font-size: 1.5rem;
}
section.settings .settings-wrapper .item-wrapper-settings .btn-delete:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/*** Item Não encontrado ***/
section.settings .settings-wrapper .no-item-wrapper-settings{
    border-color: transparent;
}
section.settings .settings-wrapper .no-item-wrapper-settings:hover{
    border-color: #55586470;

    transform: scale(1.03);
    -webkit-transform: scale(1.03);
}
section.settings .settings-wrapper .no-item-wrapper-settings .nome-item{
    color: var(--text-black-900);
    font-size: .9rem;
}   
section.settings .settings-wrapper .no-item-wrapper-settings .nome-item i{
    color: var(--alert-03);
    font-size: 1.3rem;

    margin-right: 10px;
}

/*** Formulário ***/
section.settings .settings-wrapper .form-settings .form-box-single-inputs{
    width: 80%;
}
section.settings .settings-wrapper .form-settings .form-box-single-inputs .box-form-uniq{
    min-height: auto;
}
section.settings .settings-wrapper .form-settings .form-box-single-inputs .box-form-uniq .delete-input{
    right: -52px;
    bottom: 3px;

    font-size: 1.5rem;
    color: var(--alert-03);

    border-radius: 50%;
}
section.settings .settings-wrapper .form-settings .form-box-single-inputs .box-form-uniq .delete-input:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
section.settings .settings-wrapper .form-settings .form-box-single-inputs .box-form-uniq .icon-input-atention{
    top: 50px;
}
section.settings .settings-wrapper .form-settings .form-box-single-inputs .box-form-uniq .icon-input-atention i{
    right: -25px;
}
section.settings .settings-wrapper .form-settings .add-input-settings{
    right: -4px;
    bottom: 85px;

    font-size: 1.5rem;
    color: var(--alert-01);

    border-radius: 50%;
}
section.settings .settings-wrapper .form-settings .add-input-settings:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}