/*? Área de menu do profile ?*/
/*** Imagem de perfil do usuário ***/
section.profile .main-section .image-profile-user{
    height: 315px;
    max-height: 100%;
}
section.profile .main-section .image-profile-user .photo-box-whapper{
    width: 60%;
    height: 70%;
}
section.profile .main-section .image-profile-user .photo-box-whapper .alter-photo-perfil{
    background-color: #000;
    
    z-index: 2;
}
section.profile .main-section .image-profile-user .photo-box-whapper.dropFile .alter-photo-perfil,
section.profile .main-section .image-profile-user .photo-box-whapper:hover .alter-photo-perfil{
    opacity: .7;
}
section.profile .main-section .image-profile-user .photo-box-whapper .alter-photo-perfil .alter-photo-info i{
    font-size: 2rem;
    color: var(--text-black-700);
}
section.profile .main-section .image-profile-user .photo-box-whapper .alter-photo-perfil .alter-photo-info p{
    font-size: .9rem;
    color: var(--text-black-700);
    line-height: 15px;
}

section.profile .main-section .image-profile-user .photo-box-whapper .avatar-usuario{
    background-image: url('../images/avatar.svg');
    background-size: auto 75%;
}
section.profile .main-section .image-profile-user .photo-box-whapper:hover .imagem-usuario{
    background-size: 110%;
    background-position: 50% 40%;
}

/*** Navegação do usuário ***/
section.profile .main-section .navegacao-profile{
    height: calc(100% - 315px);
}


/*? Área do Formulário do profile ?*/
/*** Infomrações para senha ***/
section.profile .main-section .form-profile-main .infoPassword .tetle-inform-password{
    font-size: .9rem;
    font-family: 500;
    color: var(--text-black-700);
}
section.profile .main-section .form-profile-main .infoPassword .tetle-inform-password i{
    font-size: 1rem;

    margin-right: 5px;
}
section.profile .main-section .form-profile-main .infoPassword .info-box-password .info-password-whapper{
    font-size: .8rem;
    color: var(--alert-03);
}
section.profile .main-section .form-profile-main .infoPassword .info-box-password .info-password-whapper i{
    font-size: 1.1rem;

    margin-right: 5px;
}
section.profile .main-section .form-profile-main .infoPassword .info-box-password .info-password-whapper i::before{
    content: '\F135';
}

section.profile .main-section .form-profile-main .infoPassword .info-box-password .info-password-whapper.success{
    color: var(--alert-04);
}
section.profile .main-section .form-profile-main .infoPassword .info-box-password .info-password-whapper.success i::before{
    content: '\F26F';
}