/*? Container popup Move Css Style ?*/
.popups{
    width: 100%;
    height: 100%;
}
section.popup-move{
    max-width: 700px;
    width: 100%;
    min-width: 250px;
    height: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    z-index: 9;

    padding: 5px 10px;
    
    border-radius: 10px;
    border: 1px solid var(--color-grey-p-2);

    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);

    -webkit-box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, .5); 
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, .5);

    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
}
section.popup-move.show-dropdown{
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
}
section.popup-move header.header-popup{
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
section.popup-move header.header-popup .area-move{
    width: 90%;
    height: 100%;

    padding-left: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: all-scroll;
}
section.popup-move header.header-popup .btn-close{
    width: 10%;
    height: 100%;

    cursor: pointer;

    background-color: transparent;
    color: var(--color-06);

    display: flex;
    justify-content: center;
    align-items: center;
}
section.popup-move header.header-popup .btn-close:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/* Main Section Popup */
section.popup-move main.main-popup-move{
    width: 100%;
}
section.popup-move main.main-popup-move header{
    width: 100%;

    border-bottom: 1px solid var(--color-grey-p-2);

    margin-bottom: 15px;
}
section.popup-move main.main-popup-move header h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-06);

    display: flex;
    align-items: center;
}

section.popup-move main.main-popup-move main{
    width: 100%;

    display: flex;
}

/* Menu Popup */
section.popup-move main.main-popup-move main nav.menu-popup{
    width: 30%;

    padding-bottom: 150px;
}

section.popup-move main.main-popup-move main nav.menu-popup ul,
section.popup-move main.main-popup-move main nav.menu-popup li{
    width: 100%;
}
section.popup-move main.main-popup-move main nav.menu-popup li a{
    width: 100%;

    display: flex;
    align-items: center;

    padding: 10px;

    border-radius: 8px;
}
section.popup-move main.main-popup-move main nav.menu-popup li a i{
    width: 36px;
    height: 36px;

    font-size: 1.2rem;
    color: var(--color-06);

    background-color: transparent;
    
    border: 1px solid var(--color-04);

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}
section.popup-move main.main-popup-move main nav.menu-popup li a.active i{
    border-color: var(--color-06);
}
section.popup-move main.main-popup-move main nav.menu-popup li a span{
    font-size: 1.1rem;
    color: var(--color-06);

    margin-left: 10px;
}
section.popup-move main.main-popup-move main nav.menu-popup li a.active{
    background-color: var(--color-01);
}