@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
:root
{
    --mainColor:#67EAC3;
    --black:#000000;
    --white:#ffffff;
    --whiteSmoke:#c4c3ca;
    --shadow:0px 4px 8px 0 rgba(21,21,21,.2);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 8px;

    background-color: transparent;
    
}
::-webkit-scrollbar-thumb{
    width: 100%;

    background-color: var(--mainColor);

    border-radius: 8px;
}
*{
    scrollbar-width: thin;
    scrollbar-color: var(--mainColor) transparent;
}
body
{
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    background-color: var(--black);
    background-image: url('../images/7153677.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
.container
{
    max-width: 1080px;
    margin: auto;
}
.container > div{
    overflow: hidden;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between
{
    justify-content: space-between;
}
.align-items-center
{
    align-items: center;
}
.full-screen
{
    min-height: 100vh;
}
.text-center
{
    text-align: center;
}
/*Home Start*/
.box-main
{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px 25px;
}
.div-form-valid{
    width: 100%;
    height: 0px;
    margin: 20px 0;
    transition: .5s;
}
.box-alert{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgb(20, 20, 20);
}
.box-alert .material-symbols-rounded{
    font-family: 'Material Icons';
    color: var(--white);
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' -25,
        'opsz' 48;
}
.box-alert p{
    color: var(--white);
    font-size: 18px;
    margin: 0 5px;
    text-align: center;
}
.box-alert p span{
    color: var(--whiteSmoke);
    font-size: 14px;
}
.sucesso{
    background-color: #41a044;
    animation: shakeTop 1s;
}
.error{
    background-color: #f75353;
    animation: shake 1s;
}
.btn 
{
    height: 44px;
    padding: 0 30px;
    background-color: var(--mainColor);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 8px 24px 0 rgba(10, 228, 163, 0.2);
    transition: all 200ms linear;
}
.btn:hover
{
    background-color: var(--white);
    color: var(--mainColor);
    box-shadow: 0 8px 24px 0 rgba(138,140,146,0.2);
}
.form
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-main h4
{
    font-weight: 600;
    color: var(--white);
}
.box-main h6
{
    color: var(--white);
    margin-bottom: 30px;
}
.box-main h6 span
{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.selection-register-login{
    border-radius: 6px;

    box-shadow: 0px 0px 20px 0px rgb(20 20 20);

    background: rgba( 0, 0, 0, .01 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );


    padding: 10px;
}

input[type="checkbox"]
{
    display: none;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label
{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--mainColor);
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
}
.checkbox:checked + label::before,
.checkbox:not(:checked) + label::before
{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--mainColor);
    background-color: var(--white);
    font-family: 'Material Icons';
    content: '\f1e2';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}
.checkbox:checked + label::before
{
    transform: translateX(44px) rotate(-270deg);
}

.link
{
    color: var(--whiteSmoke);
    margin-top: 20px;
    display: block;
    transition: all .3s ease;
}
.link:hover
{
    color: var(--mainColor);
}
.card-3d-wrap
{
    position: relative;
    width: 400px;
    max-width: 100%;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 800px;
}
.card-3d-wrapper
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}
.card-front, .card-back
{
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    background-image: url('../images/login_bg.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    box-shadow: 0px 0px 20px 0px rgb(20, 20, 20);
}
.card-back
{
    transform: rotateY(180deg);
}
.card-3d-wrap .card-3d-wrapper.active /*! Voltar aqui para verificar questão de translete */
{
    transform: rotateY(180deg);
}
.center-wrap
{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%,35px) perspective(100px);
    -webkit-transform: translate3d(0, -50%,35px) perspective(100px);
    display: block;
    z-index: 20;
}
.heading
{
    margin-bottom: 30px;
    font-size: 24px;
}
.form-group
{
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.form-style
{
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--whiteSmoke);
    background-color: #242323;
    border: none;
    box-shadow: var(--shadow);
}
.form-style:focus,
.form-style:active
{
    border: none;
    outline: none;
    box-shadow: var(--shadow);
}
.input-icon
{
    position: absolute;
    top: 12px;
    left: 18px;
    height: 48px;
    font-size: 24px;
    text-align: left;
    color: var(--mainColor);
    transition: all 200ms linear;
    cursor: text;
}
 .icon-showPassword{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    height: 48px;
    right: 15px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}
 .icon-showPassword::before{
     content: '\e8f4';
     color: var(--mainColor);
     font-weight: 300;
     font-size: 20px;
     transition: font-size .5s, content .5s;
}
.icon-showPassword.activePassword::before{
     content: '\e8f5';
}
 .icon-showPassword:hover::before{
    font-size: 25px;
}
.form-group input::placeholder
{
    color: var(--whiteSmoke);
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input:focus::placeholder
{
    opacity: 0;
    transition: all 200ms linear;
}
.box-lembre{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-weight: 300;
    margin-top: 20px;
}
.wrapper-lembre{
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper-lembre input{
    display: none;
}
.wrapper-lembre label{
    color: var(--whiteSmoke);
    cursor: pointer;
    font-weight: 400;
    text-align: left;
}
.wrapper-lembre .caixinha-box-input{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid var(--white);

    position: relative;
}
.after-lembrete{
    display: block;
    position: absolute;
    top: 80%;
    left: 80%;
    width: 8px;
    height: 25px;
    border-right: 0px solid var(--mainColor);
    border-bottom: 0px solid var(--mainColor);
    transform: translate(-80%,-80%);
    -webkit-transform: translate(-80%,-80%);
    transition: border-bottom-width .2s linear, border-right-width .2s linear, transform .2s linear;
}
.wrapper-lembre input[type=checkbox]:checked + label > .after-lembrete{
    transform: translate(-80%,-80%) rotate(35deg);
    -webkit-transform: translate(-80%,-80%) rotate(35deg);
    /* display: block; */
    border-right-width: 3px;
    border-bottom-width: 3px;
}
/*Home End*/
/*Responsive*/
@media(max-width:992px)
{
    .card-3d-wrap
    {
        width: 350px;
    }
}
@media(max-width:768px)
{
    .box-main
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 360px){
    .card-3d-wrap {
        width: 290px;
    }
    .center-wrap{
        padding: 0 15px;
    }
    .btn {
        padding: 0 75px;
    }
}

/* Amimate */

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
        -webkit-transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shakeTop {
    from, to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(0, -10px, 0);
        -webkit-transform: translate3d(0, -10px, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(0, 10px, 0);
        -webkit-transform: translate3d(0, 10px, 0);
    }
}