/*? Contenção de tabela ?*/
.contain-table{
    padding-bottom: 10px;
}

/*? Geral ?*/
.btn-action-table{
    width: 40px;
    height: 40px;

    color: var(--text-black-100);
    font-size: 1.4rem;
}
.btn-action-table.copy{ background-color: var(--alert-01); }
.btn-action-table.views{ background-color: var(--alert-04); }

.btn-action-table:not(:last-child){
    margin-right: 10px;
}
.btn-action-table:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/*! Modelo de Tabela 01 !*/
.m-table-01{
    min-width: 900px;
}

.m-table-01 .col-1{ width: 35%; }
.m-table-01 .col-2{ width: 25%; }
.m-table-01 .col-3{ width: 20%; }
.m-table-01 .col-4{ width: 15%; }

/*? THead ?*/
.m-table-01 .thead .th{
    color: var(--text-black-100);
    font-weight: 500;
}

/*? TBody ?*/
.m-table-01 .tbody .tr:not(:last-child){
    border-bottom: 1px solid #55586470;
}
.m-table-01 .tbody .td{
    color: var(--text-black-900);
    font-size: .8rem;
}
.m-table-01 .tbody .td .inicial-nome{
    width: 40px;
    height: 40px;

    background-color: var(--skin-color);
    border-radius: 50%;

    font-size: 1.3rem;
    color: var(--bg-black-50);
    font-weight: 600;

    margin-right: 10px;
}
.m-table-01 .tbody .td .nome p:last-child{
    font-size: .8rem;
    color: var(--text-black-700);
    font-weight: 300;
}

/*! Modelo de Tabela 02 !*/